body {
    background-color: rgb(195, 200, 207);
}
nav { display: inline-block;
      position: relative;
      padding-right: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.3em;

}

aside { display: inline-block;
    position: absolute;
    border-left: 1px solid black;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;

}

li {
    margin-bottom: 4px;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 150px;
}
h2 {
text-decoration: underline;

}
#image {
    text-align: center;
}
    
   
   


